In [ ]:
# a

In [ ]:
# numpy vs pandas
# biopython, seaborn
# how to read in a SAM file
# dispersion calculation
# editing functions

In [1]:
# Read a csv
import pandas as pd

In [ ]:
file = pd.read_csv("data/inflammation-01.csv")

In [2]:
file.head()

,0,0.1,1,3,1.1,2,4,7,8,3.1,...,4.3,4.4,5.1,7.6,3.4,4.5,2.1,3.5,0.2,0.3
0,0,1,2,1,2,1,3,2,2,6,...,3,5,4,4,5,5,1,1,0,1
1,0,1,1,3,3,2,6,2,5,9,...,10,5,4,2,2,3,2,2,1,1
2,0,0,2,0,4,2,2,1,6,7,...,3,5,6,3,3,4,2,3,2,1
3,0,1,1,3,3,1,3,5,2,4,...,9,6,3,2,2,4,2,0,1,1
4,0,0,1,2,2,4,2,1,6,4,...,8,4,7,3,5,4,4,3,2,1

In [ ]:
csv_reader

In [ ]:
seq = atgcgat
# desired ouput atcgcat (reverse compliment) 1000 nucleotides

In [ ]:
for loop of seq:
    if a
        then a=t
    if t
        then t=a
    if c 
        then c=g
    if g 
        then g=c
    print string (print first 5 and last 5)
        string[:-5]
    reverse string (print first 5)
        
    save to .fasta

In [ ]:
# biopython function
# requirement: you have a complete sequence
seq = atgcgat


seq = atxxgat
com = atcxxat

In [ ]:
# Given a folder of read counts and alignment along position
# Pileup

0 - 100

input files
output dataframe
==> 0, 1, 2... 100
    3  1  3
    
==> histogram (or line graph)

In [ ]:
# b

In [1]:
def runtime(x):
    n_length = len(x)
    if n_length <=1:
        return 13
    return runtime(x[:n_length//2]) + runtime(x[n_length//2:])

In [2]:
runtime(60)

TypeError: object of type 'int' has no len()

In [3]:
x = {'foo':'bar'}
y = {'baz':x}
z = y['baz']['foo'][0:]
print(z)

bar

In [5]:
a = 0.1*0.08*.6*.2
a

0.0009599999999999999

In [6]:
(1+1)/36

0.05555555555555555